<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC 
	"-//SPRING//DTD BEAN//EN" 
	"http://www.springframework.org/dtd/spring-beans.dtd">
	
<beans>
	<!-- Example of SAF2 action instantiated by Spring -->
    <bean id="helloWorldAction" class="cz.mikealdo.struts2components.actions.HelloWorldAction" singleton="false" />
    <bean id="indexAction" class="cz.mikealdo.struts2components.actions.IndexAction" singleton="false" />
    <bean id="simpleComponent" class="cz.mikealdo.struts2components.components.SimpleComponent" abstract="true" singleton="false" />
    <bean id="firstComponent" class="cz.mikealdo.struts2components.components.FirstSimpleComponent" parent="simpleComponent" singleton="false" />
    <bean id="secondComponent" class="cz.mikealdo.struts2components.components.SecondSimpleComponent" parent="simpleComponent" singleton="false" />


</beans>

